{#Lier la vue au template de page #}
{% extends "@App/Default/base.html.twig" %}

{% block page %}

    <section class="post_review">
        {# boucle for affichant les titres de auteur le resumé et la date de parution#}
        {% for auteur in auteurs %}

                {#container pour chaque auteur qui s'affiche#}
                <article class="apercu">
                    <h2>
                        {{ auteur.name }}
                    </h2>
                    <p>
                        {{ auteur.bio }}
                    </p>


                    <a href="{{ path('admin_supp_auteur', {'id': auteur.id}) }}">
                        <p class="l_cat">Supprimer</p>
                    </a>
                    <a href="{{ path('update_auteur_form', {'id': auteur.id}) }}">
                        <p class="l_cat">modifier</p>
                    </a>
                    <a href="{{ path('auteur', {'id': auteur.id}) }}">
                        <p class="l_cat">apercu</p>
                    </a>


                </article>



        {% endfor %}
    </section>


{% endblock %}