{#Lier la vue au template de page #}
{% extends "@App/Default/base.html.twig" %}

{% block page %}

    <form action="{{ path('search_auteur') }}">
        <input type="text" name="search">
        <input type="submit">
    <section class="post_review">

{# boucle for affichan les noms d'auteur leurs bio et leurs dates (naissance, décès#}
        {% for auteur in auteurs %}
            <a class="apercu" href="{{ path('auteur', {'id': auteur.id}) }}">
                <article>
                    <h2>
                        {{ auteur.name }}
                    </h2>
                    <p>
                        {{ auteur.bio }}
                    </p>
                    <p>
                        <span>
                            <br>
                            naissance:  <i class="date">{{ auteur.birthdate|date("j - M - Y") }}</i> <br>
{#                          Condition : détermine l'affichage ou non de la date de décès (si oui ou non l'auteur est mort
                             Si la date de décès n'est pas "null": l'auteur est mort...
                             Donc on affiche la date) #}
                            {% if auteur.deathdate!=null %}
{# #}
                            décès: <i class="date">{{ auteur.deathdate|date("j - M - Y") }}</i>
                            {% else %}

                            {% endif %}
                        </span>
                    </p>

                </article>
            </a>

        {% endfor %}
    </section>

{% endblock %}