{#Lier la vue au template de page #}
{% extends "@App/Default/base.html.twig" %}

{% block page %}

    <section class="post_review">
{# boucle for affichan les titres de livre le resumé et la date de parution#}
        {% for livre in livres %}
            {#container pour chaque article qui s'affiche#}

                <article class="apercu">
                    <h2>
                        {{ livre.titre }}
                    </h2>
                    <p class="p1">
                        {{ livre.resume }}
                    </p>

                    {% if livre.auteur %}
                    <p class="p2">
                        <a href="{{ path('auteur', {'id': livre.auteur.id}) }}">
                            de <i><b class="aut_id">{{ livre.auteur.name }}</b></i>
                        </a>

                    </p>
                    {% endif %}
                    <p class="p3">
                        <i><b>{{ livre.genre }}</b></i>
                    </p>
                    <p class="p4">
                        <em>
                            {{ livre.parutiondate|date("j - M - Y") }}
                        </em>
                    </p>
                    <a href="{{ path('livre', {'id': livre.id}) }}">
                        <p class="l_cat3">apercu</p>
                    </a>

                </article>


        {% endfor %}
    </section>


{% endblock %}