{#Lier la vue au template de page #}

{% extends "@App/Default/base.html.twig" %}
{% block page %}

    {#container pour chaque auteur qui s'affiche#}
    <section class="article2">
{#      la fonction path génère automatiquement l'url en fonction de l'id#}

            <article class="apercu2">
{#              affiche les éléments choisi dans la BDD (ici 'nom de l'auteur'#}
                <h2>{{ livre.titre }}</h2>
                {% if livre.auteur %}
                    <p class="p2">
                        <a href="{{ path('auteur', {'id': livre.auteur.id}) }}">
                            de <i><b class="aut_id">{{ livre.auteur.name }}</b></i>
                        </a>

                    </p>
                {% endif %}
{#              (ici 'bio de l'auteur'#}
                <p>{{ livre.resume }}</p>
                {% for auteur in livre.auteur %}
                <a class="apercu2" href="{{ path('auteur', {'id': auteur.id}) }}">
                    <p class="p1">{{ auteur.name }}</p>
                </a>
                {% endfor %}
            </article>


    </section>
{% endblock %}