{#Lier la vue au template de page #}
{% extends "@App/Default/base.html.twig" %}

{% block page %}


    <section class="post_review">
{# boucle for affichant les titres de livre le resumé et la date de parution#}
        {% for livre in livres %}
                {#container pour chaque article qui s'affiche#}
                    <article class="apercu">
                        <h2>
                            {{ livre.titre }}
                        </h2>
                        <p>

                            {% if livre.auteur %}
                        <p>

                            de <i><b class="aut_id">{{ livre.auteur.name }}</b></i>

                        </p>
                            {% endif %}


                        </p>
                        <p>
                            {{ livre.resume }}
                        </p>
                        <p>
                            <b><i>{{ livre.genre }}</i></b>
                        </p>
                        <p>
                            <em>
                                {{ livre.parutiondate|date("j - M - Y") }}
                            </em>
                        </p>

                        <a href="{{ path('admin_supp_livre', {'id': livre.id}) }}">
                            <p class="l_cat">Supprimer</p>
                        </a>
                        <a href="{{ path('admin_update_livre', {'id': livre.id}) }}">
                            <p class="l_cat">modifier</p>
                        </a>
                        <a href="{{ path('livre', {'id': livre.id}) }}">
                            <p class="l_cat">apercu</p>
                        </a>



                    </article>
            </a>


        {% endfor %}
    </section>


{% endblock %}